$greenBg:#49AD09;
$lightGrayBg:#F2F2F2;
$blackBg:#1E1E1E;
$primary:#DC780B;
$footerBg:#FBF1E7;
$mediumGray:#C2C2C4;
$black:#150C01;
$backgrF:#252525;
$blue:#4A7AFF;
$violet:#6C27B3;
$blueSky:#55ACEE;
$red:#D22215;
$white:#ffff;